<!DOCTYPE html>
<html lang="en">
	<head th:fragment="headTag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PetClinic :: a Spring Framework demonstration</title>
		<link th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/petclinic.css}" rel="stylesheet" />
		<script th:src="@{/webjars/jquery/2.0.3/jquery.js}"></script>
		<script th:src="@{/webjars/jquery-ui/1.10.3/ui/jquery.ui.core.js}"></script>
		<script th:src="@{/webjars/jquery-ui/1.10.3/ui/jquery.ui.datepicker.js}"></script>
		<link th:href="@{/webjars/jquery-ui/1.10.3/themes/base/jquery-ui.css}" rel="stylesheet" />
	</head>
	<body>
	</body>
</html>
